.createFeedWraper {
  width: 100%;
  height: 100vh;
  max-width: var(--max-width-dimens);

  margin: 0 auto;

  background-color: var(--black2-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftSide {
    height: 100vh;
    width: calc(100% - 386px);

    overflow: hidden;
    padding: 20px 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .rightSide {
    width: 500px;
    height: 100vh;

    overflow: hidden;
  }
}
