.homeHeaderWrapper {
  width: 100%;
  min-height: var(--max-header-size);

  position: fixed;
  top: 0;

  transition: all 0.2s ease-in-out;
  background-color: var(--black3-color);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10000;

  .homeHeaderContent {
    width: 100%;
    height: var(--max-header-size);
    max-width: var(--max-width-dimens);

    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 0.2s ease-in-out;

    .contentLeftSide {
      width: calc(100% - 20%);
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      .leftSideInputWrapper {
        width: 100%;
        height: 56px;

        padding: 0 20px;
        margin: 0 20px;

        background-color: var(--gray4-color);
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          height: 100%;

          border: none;
          outline: none;
          background-color: transparent;

          font-size: 18px;
          font-weight: 500;
          color: var(--white-color);
        }

        input::placeholder {
          font-size: 20px;
          font-weight: 500;
          color: var(--white-color);
        }
      }
    }

    .contentRightSide {
      height: 100%;
      width: 216px;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 20px;
      }
    }
  }

  @media (max-width: 778px) {
    .homeHeaderContent {
      & > .contentLeftSide > .leftSideInputWrapper {
        display: none;
      }
    }
  }
}
